:root {
  //Primary
  --paleblue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  //Neutral
  --xpaleblue: hsl(225, 100%, 98%);
  --dblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}
